.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/Frame\ 96.png");
}
.events-topbar {
  position: relative;
  width: 100%;
}
.events-heading-title {
  color: #eca674;
  font-size: 3vw;
  font-weight: normal;
  margin-top: 15vh;
  margin-bottom: 8vh;
}
.events-upcoming {
  background-color: rgba(255, 255, 255, 0.371);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 10vh;
  padding: 2vw;
}
.events-recent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.EventCard-container {
  background-color: #2c2b6cb8;
  border-radius: 20px;
  padding: 2rem;
  width: 500px;
  color: white;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.event-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #eca674;
  font-weight: 300;
}

.event-info {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #c5cae9;
}

.event-time,
.event-location {
  font-size: max(1.1vw, 12px);
  margin: 0;
  margin-bottom: 1vh;
  font-weight: 450;
}

/* .icon-clock:before,
.icon-location:before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
} */

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.2)
  );
  margin-bottom: 1rem;
}
.event-details {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #c5cae9;
}

.event-share-button {
  background-color: #eca674;
  border: 3px solid #eca674;
  border-radius: 5px;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.event-share-button:hover {
  background-color: #2c2b6c9d;
  color: #eca674;
  border: 3px solid #eca674;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .events-topbar {
    margin-bottom: 6vh;
  }
  .events-heading-title {
    font-size: 5vw;
    margin: 2vh;
  }
  .EventCard-container {
    width: 80%;
    margin-bottom: 4vh;
  }
  .events-upcoming {
    margin-bottom: 0;
  }
  .event-title {
    font-size: 4vw;
  }
  .event-location,
  .event-time {
    font-size: 2.5vw;
  }
}
