* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif !important;
  font-display: swap;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 1vw;
  width: 98%;
  z-index: 100;
}

.small-screen-logo {
  width: 5vw;
  height: 5vw;
}
@media screen and (min-width: 760px) {
  .small-screen-logo {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .nav-btns {
    display: block !important;
  }
}

.topbar-navs {
  padding: 1vw;
  font-size: 1rem;
  background: #050528;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .topbar-container {
    width: 100%;
    align-items: flex-start;
    padding: 0.1vw;
    padding-right: 0;
    margin-right: 0;
    margin-top: 0.6vh;
  }
  .logo {
    width: 6vw;
    height: 6vw;
    margin: 0;
  }
  .topbar-navs{
    display: none;
  }
  .mobile-menu{
    display: block;
  }
}

.NavigationMenuRoot {
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* z-index: 1; */
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  color: #eca674;
  margin: 0;
}

.NavigationMenuTrigger {
  all: unset;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  border-radius: 4px;
  font-size: 0.75rem;
  color: #eca674;
  letter-spacing: normal;
}

.NavigationMenuLink {
  display: block;
  font-size: 1rem;
  position: relative;
  margin: 0 .3rem;
}

.NavigationMenuLink::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 5px;
  bottom: .3rem;
  left: 50%;
  background-color: #eca674;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.NavigationMenuLink:hover::after {
  width: 27%;
  left: 38%;
}

.NavigationMenuLink.active::after{
  content: "";
  position: absolute;
  left: min(20%, 1rem);
  bottom: -5px;
  border-radius: 5px;
  width: 55%;
  height: 3px;
  background-color: #eca674;
  transition: width .5s ease;
  transform-origin: bottom right
} 

/* .NavigationMenuLink:hover::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: -3px;
  width: 40%;
  height: 3px;
  border-radius: 5px;
  background-color: #eca674;
  transition: all .5s ease-out;
  transform-origin: bottom right;
}
.NavigationMenuLink.active::before{
  content: "";
  position: absolute;
  left: min(20%, 1rem);
  bottom: -5px;
  border-radius: 5px;
  width: 55%;
  height: 3px;
  background-color: #eca674;
  transition: width .5s ease;
  transform-origin: bottom right;
} */
.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin:  0 .3rem;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050528;
  width: auto;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: yellow;
  border-radius: 6px;
  overflow: hidden;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 22px;
  margin: 0;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .List.two {
    width: auto;
    grid-auto-flow: rows;
    /* grid-template-rows: repeat(4, 1fr); */
  }
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: auto;
  top: 100%;
  /* perspective: 2000px; */
}

.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: #eca674;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* --------------Mobile Menu Styling------------ */
.DropdownMenuTrigger{
  background-color: #050528;
  border: none;
}
.IconButton{
  background-color: #050528;
  border: none;
}
.IconButton > svg{
  color: #eca674;
  height: 1.5rem;
  width: 1.5rem;
}
.DropdownMenuContent {
  background-color: #eca674;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .7rem 1rem;
  border-radius: 1rem;
  
}

.DropdownMenuItem{
  font-size: 1.2rem;
  margin: .3rem 0;
  font-weight: 600;
}

.DropdownMenuLink{
  color: #050528;
}
@media screen and (min-width: 701px) {
.mobile-menu, .DropdownMenuItem, .DropdownMenuContent{
  display: none;
}
}
/* ---------Mobile Menu Styling finishes here */