* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-display: swap;
}
.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 1vw;
  width: 98%;
  z-index: 100;
}
.small-screen-logo {
  width: 5vw;
  height: 5vw;
}
.responsiveMenuLinks {
  display: none;
}
.nav-btn > .MuiSvgIcon-root {
  position: relative;
  top: 5px;
}

.expandedNavLinks {
  /* font-size: larger; */
  margin: .5rem auto !important;
}
.nav-btns{
  position: relative;
}
/* a.expandedNavLinks.active {
  color: #faf9f1;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
} */
.nav-btn:hover::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: -3px;
  width: 40%;
  height: 3px;
  border-radius: 5px;
  background-color: #eca674;
  transition: all .5s ease-out;
  transform-origin: bottom right;
}
.nav-btn.active::before{
  content: "";
  position: absolute;
  left: min(20%, 1rem);
  bottom: -5px;
  border-radius: 5px;
  width: 55%;
  height: 3px;
  background-color: #eca674;
  transition: width .5s ease;
  transform-origin: bottom right;
}
.expandedMenu {
  display: none;
}
.moreMenu:hover{
  cursor: pointer;
}
.moreMenu:hover + .expandedMenu, .expandedMenu:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 12rem;
  top: max(1rem, 1.4vw);
  background-color: #050528;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;

}
@media screen and (min-width: 760px) {
  .small-screen-logo {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .nav-btns {
    display: block !important;
  }
}
.topbar-top a.active {
  background-color: transparent;
}
.topbar-navs {
  padding: 1vw;
  font-size: 1rem;
  /* background-color: #07072f; */
  /* From https://css.glass */
  background: #050528;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-btn {
  color: #eca674;
  /* text-decoration: none; */
  margin: 0rem 1.5rem;
  letter-spacing: normal;
  font-size: 1rem;
  position: relative;
  /* font-weight: 400; */
}
/* .nav-btns a.active {
  color: #faf9f1; 
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px; 
} */
/* .nav-btns :hover {
  color: #faf9f1; 
  transition: all 0.7s ease-out;
} */

.nav-toggle {
  position: relative;
}
.toggle-btn {
  margin-top: 4px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 2rem;
  z-index: 101;
  font-size: 8vw;
  background-color: transparent;
  border: none;
  color: black;
}
.toggle-btn:hover {
  color: #eca674;
}
.closed {
  color: #eca674;
}
.closed:hover {
  color: white;
}
.moreMenu {
  color: #eca674;
  background-color: transparent;
  border: none;
  position: relative;
  /* font-weight: 600; */
}

@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .topbar-container {
    width: 100%;
    align-items: flex-start;
    padding: 0.1vw;
    padding-right: 0;
    margin-right: 0;
    margin-top: 0.6vh;
  }
  .logo {
    width: 6vw;
    height: 6vw;
    margin: 0;
  }
  .nav-btn.active::before{
  content: "";
  position: absolute;
  left: 40%;
  bottom: -3px;
    /* text-align: center; */
  width: 2rem;
  height: 3px;
  background-color: #07072f;
  transition: width .5s ease;
  transform-origin: bottom right;
}
  .nav-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 1rem;
  height: 3px;
  background-color: #07072f;
  transition: width .5s ease;
  transform-origin: bottom right;
  }
  
  .topbar-navs {
    width: 25%;
    min-width: 150px;
    /* background-color: #050528; */
    margin-right: 0;
    padding: 0;
    transition: all 0.75s ease-in-out;
    display: flex;
    position: relative;
    top: 6vh;
    right: 0.5rem;
    flex-direction: column;
    align-items: center;
    /* font-weight: 450; */
    border-radius: 2rem;
  }
  .nav-toggle {
    height: 5rem;
  }
  .nav-btns {
    width: 100%;
    border: 0.2rem solid #eca674;
    border-radius: 1rem;
    background-color: #ebc5b7f5;
    display: flex;
    /* top: 6vh; */
    /* position: relative; */
    right: 1vw;
    flex-direction: column;
    padding-left: 0;
    /* height: ; */
    padding-top: 0;
    justify-content: space-evenly;
  }
  .nav-btn {
    color: #07072f;
    font-size: 1rem;
    text-align: center;
    margin: .2rem;
    position: relative;
  }
  .toggle-btn {
    display: flex;
    height: 6vw;
    width: 6vw;
  }
  .hide {
    display: none;
  }
  .MuiSvgIcon-root {
    margin: auto;
    color: #eca674;
  }
  .moreMenu {
    display: none;
  }
  .expandedMenu {
    display: none;
  }
  .responsiveMenuLinks {
    display: block;
  }
  .expandedMenu {
    display: none;
  }
}
