.about-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.about-topbar{
    width: 100%;
}
.about-parent {
    width: 100vw;
    height: 100vh;
}
.about-spline{
    height: 100%;
    width: 30%;
}
.about-text {
    background-color: #07072F;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    justify-content: center;
}
.about-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.spline-text {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.about-panel p{
    font-weight: 400;
    letter-spacing: 0.5px;
}
.intro-title{
    position: absolute;
    left: 0;
    top: 57%;
    font-size: max(4vw,20px);
    font-weight: 450;
    color: #E4B6A5;
}
.intro-para{
    background-color: #ffffff30;
    padding: 2vw;
    padding-left: 10vw;
    font-size: max(1.3vw,10px);
    font-weight: 300;
    border-radius: 7px;
}
.intro-vertical {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-vertical h2{
    text-align: center;
}
.intro-vertical-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}
.intro-vertical-text {
    font-size: smaller;
}
.members{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.members-secys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.members-heads{
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.members-btn{
    box-sizing: border-box;
    padding: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.members-btn-year{
    transition: all 0.3s ease-in-out;
    background-color: #E4B6A5;
    border: none;
    color: #07072F;
    border-radius: 15px;
    padding: 1.25vw;
    padding-left: max(1.75vw,4px);
    padding-right: max(1.75vw,4px);
    font-weight: 500;
    font-size: max(1.25vw,10px);
}
.active-year{
    background-color: white;
}
.members-btn-year:hover{
    background-color: white;
}
.members-members{
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0vh;
}
.card-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5vw;
    width: max(25vw,150px);
    margin-bottom: 0;
}
.members-heads .card-container{
    width: max(10vw, 140px);
}
.members-members  .card-container{
    width: max(20vw, 140px);
}
.card-image{
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
}
.card-name{
    font-size: max(1.25vw,12px);
    font-weight: 500;
    margin-bottom: 0.4vh;
}
.card-position{
    font-weight: 400;
    font-size: max(0.8vw,9px);
}
.card-contacts{
    display: flex;
    width: 6vw;
    justify-content:space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
.line-container{
    display: flex;
    justify-content: center;
}
.horizontal-line{
    height: 0.75vh;
    margin-top: 0;
    width: 80%;
    background-color: #ffffff50;
}
.card-socials{
    font-size: max(2vw,3vh);
}
/* .about-footer{
    width: 100%;
} */
@media screen and (max-width:700px) {
    *{
        box-sizing: border-box;
    }
    .about-container{
        width: 100vw;
    }
    .about-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 5vw;
    }
    .intro-title{
        position: relative;
    }
    .intro-para{
        width: 100%;
        padding:2vw;
    }
    .members-secys{
        margin-bottom: 3vh;
    }
    .members-heads{
        margin-bottom: 3vh;
    }
    .card-image{
        width: 20vw;
        height: 20vw;
    }
    .card-name{
        margin-bottom: 0;
    }
    .horizontal-line{
        height: 0.4vh;
    }
}
