* {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-image: url("/Frame_96.png");
  background-position: center;
  /* overflow: hidden; */
}
.logo-div {
  z-index: 2;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 760px) {
  .logo-div {
    display: none;
  }
}

.active {
  background-color: none;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-topbar {
  position: relative;
  /* background-color: black; */
}
.ellipse {
  position: absolute;
  margin-left: 0;
  width: 38vw;
}
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: min(35vh, 30vw);
  z-index: 99;
  color: #eca674;
}
.club {
  margin-bottom: 0.5vh;
  font-size: 4vw;
  font-weight: 500;
  color: #eca674;
}
.iitr {
  font-size: 2vw;
  font-weight: 400;
  color: white;
}
.planet {
  position: absolute;
  top: 40vh;
  right: 0;
  height: 40vw;
}
.know-paac-container {
  width: 90%;
  position: relative;
  margin-left: 0;
  margin-top: min(120vh, 60vw);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vw;
  color: white;
}
.paac-desc {
  width: 45%;
}
.know-header {
  color: #eca674;
  transition: all 0.7s ease-in-out;
}
.know-.home-container {
  font-weight: 300;
}
.know-header:hover {
  color: #faf9f1;
}
.paac-gp {
  font-size: 2vw;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paac-gp img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 25px;
}
.home-.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-achievement {
  font-weight: 500;
  border-radius: 1vw;
  padding: 3vw;
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;
  margin-top: 15vh;
}

/* -----------Home Events Styling----------------- */

.home-events-section {
  display: flex; /* the heading was not responsive without this */
  flex-direction: column;
  align-items: center;
}

.home-events-heading {
  color: #eca674;
  font-size: 40px;
  text-align: center;
  transition: color 0.2s ease-in-out;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home-events-heading-container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-event-card {
  background-color: #2c2b6c9d;
  border-radius: 20px;
  padding: 2rem;
  width: 500px;
  color: white;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.home-event-time,
.home-event-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: white;
  margin: 0;
  margin-bottom: 1vh;
  font-weight: 300;
  text-align: center;
}

.home-event-time,
.home-event-location {
  font-size: max(1.1vw, 12px);
  margin: 0;
  margin-bottom: 1vh;
  font-weight: 450;
}

.home-event-description {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

.divide {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.2)
  );
  size: 30px;
  margin-bottom: 1rem;
}

.home-event-share-button {
  background-color: #eca674;
  border: 3px solid #eca674;
  border-radius: 5px;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.home-event-share-button:hover {
  background-color: #2c2b6c9d;
  color: #eca674;
  border: 3px solid #eca674;
  border-radius: 5px;
}

/* .home-events-photo-container {
  height: 160px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.home-events-photo {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
  border-radius: 24px;
} */

@media screen and (max-width: 770px) {
  .home-event-card {
    width: 300px;
    margin: 0px;
  }

  img.home-events-photo {
    width: 250px;
    height: 250px;
  }

  .splide__slide {
    width: 45% !important;
    min-width: 380px;
  }
}

/* ------------Home Events Styling Finishes Here---------*/

.home-gallery {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
  background-color: rgba(44, 43, 112, 255);
}
.home-gallery-top {
  padding: 1vw;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-gallery-text {
  color: #eca674;
  font-weight: 450;
}
.home-gallery-img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .home-container {
    box-sizing: border-box;
    width: 100vw;
    background-image: url("/Frame_96.png");
    background-position: center;
  }
  .home-.home-container {
    margin-top: 0;
  }
  .home-title {
    margin-top: 0;
  }
  .club {
    font-size: 5.5vw;
    font-weight: 450;
  }
  .iitr {
    font-size: 3vw;
    font-weight: 450;
  }
  .know-paac-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }
  .know-header {
    font-size: 4vw;
  }
  .know-.home-container {
    font-size: 3vw;
  }
  .paac-desc,
  .paac-gp {
    width: 90%;
  }
  .paac-gp {
    height: 30vh;
  }
  .home-achievement {
    margin: 5vh;
    height: 20vh;
    width: 90%;
  }

  /* -----Home Events Responsive Starts-------*/
  .home-events-heading {
    font-size: 32px;
  }
  .home-events-upcoming {
    justify-content: center;
    align-items: center;
  }
  .home-events-photo {
    width: 80%;
    height: 25vh;
  }
  /* ---------Home Events Responsive finish --*/

  .home-gallery {
    width: 100%;
  }
  .ellipse {
    width: 35vw;
    height: 35vw;
  }
}
