* {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.logo-div {
  z-index: 2;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 760px) {
  .logo-div {
    display: none;
  }
}

.active {
  background-color: none;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-topbar {
  position: relative;
  /* background-color: black; */
}
.ellipse {
  position: absolute;
  margin-left: 0;
  width: 30vw;
  height: 30vw;
}
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: min(35vh, 30vw);
  z-index: 99;
  color: #e4b6a5;
}
.club {
  margin-bottom: 0.5vh;
  font-size: 4vw;
  font-weight: 500;
}
.iitr {
  font-size: 2vw;
  font-weight: 200;
}
.planet {
  position: absolute;
  top: 20vh;
  right: 0;
  height: 50vw;
}
.know-paac-container {
  width: 90%;
  position: relative;
  margin-left: 0;
  margin-top: min(120vh, 60vw);
  display: flex;
  justify-content: center;
  padding: 5vw;
  color: white;
}
.paac-desc {
  width: 45%;
}
.know-header {
  color: #e4b6a5;
  transition: all 0.7s ease-in-out;
}
.know-.home-container {
  font-weight: 300;
}
.know-header:hover {
  color: #faf9f1;
}
.paac-gp {
  background-color: rgba(255, 255, 255, 0.453);
  font-size: 2vw;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-achievement {
  font-weight: 500;
  border-radius: 1vw;
  padding: 3vw;
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;
  margin-top: 15vh;
}

/* -----------Home Events Styling----------------- */

.home-events-section {
  display: flex; /* the heading was not responsive without this */
  flex-direction: column;
  align-items: center;
}

.home-events-heading {
  color: #e4b6a5;
  font-size: 40px;
  text-align: center;
  transition: color 0.2s ease-in-out;
  margin-bottom: 3rem;
}
.home-events-heading:hover {
  color: #edcbb9;
}
.home-events-heading-container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 85%; 
  max-width: 350px;
  height: 500px;
  border-radius: 24px;
  background-color: #1c1d24;
  opacity: 0.9;
  transition: opacity 0.35s ease-in-out;
}
.home-event-card:hover {
  opacity: 1;
}

.home-event-time,
.home-event-title {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white !important;
  font-weight: 500;
  text-align: center;
}

.home-event-description {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}
.home-events-photo-container {
  height: 160px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.home-events-photo {
  /* object-fit: cover;  */
  max-height: 100%;
  max-width: 100%;
  border-radius: 24px;
}

@media screen and (max-width: 770px) {
  .home-event-card{
    width: 300px;
    margin: auto;
  }
  
  img.home-events-photo{
    width: 250px;
  }

  .splide__slide{
    width: 45% !important;
    min-width: 380px ;
  }
}

/* ------------Home Events Styling Finishes Here------------ */

.home-gallery {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
  background-color: rgba(255, 255, 255, 0.322);
}
.home-gallery-top {
  padding: 1vw;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-gallery-text {
  color: #e4b6a5;
  font-weight: 450;
}
.home-gallery-img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .home-container {
    box-sizing: border-box;
    width: 100vw;
  }
  .home-.home-container {
    margin-top: 0;
  }
  .home-title {
    margin-top: 0;
  }
  .club {
    font-size: 5.5vw;
    font-weight: 450;
  }
  .iitr {
    font-size: 3vw;
    font-weight: 450;
  }
  .know-paac-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }
  .know-header {
    font-size: 4vw;
  }
  .know-.home-container {
    font-size: 3vw;
  }
  .paac-desc,
  .paac-gp {
    width: 90%;
  }
  .paac-gp {
    height: 30vh;
  }
  .home-achievement {
    margin: 5vh;
    height: 20vh;
    width: 90%;
  }

  /* -----Home Events Responsive Starts------- */
  .home-events-heading {
    font-size: 32px;
  }
  .home-events-upcoming {
    justify-content: center;
    align-items: center;
  }
  .home-events-photo {
    width: 80%;
    height: 25vh;
  }
  /* ---------Home Events Responsive finish */

  .home-gallery {
    width: 100%;
  }
  .ellipse {
    width: 35vw;
    height: 35vw;
  }
}
