.logo {
  position: absolute;
  width: 116px;
  height: 116px;
}
.logo-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container :hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.text {
  font-size: 14px;
  letter-spacing: 3px;
}
#rotatingText {
    animation-name: rotate-circle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotate-circle {
    to {
      transform: rotate(1turn);
    }
  }
