.about-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.about-topbar{
    width: 100%;
}

.members{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.members-secys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.members-heads{
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.members-btn{
    box-sizing: border-box;
    padding: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.members-btn-year{
    transition: all 0.3s ease-in-out;
    background-color: #ECA674;
    border: none;
    color: #050528;
    border-radius: 10px;
    padding: 1vw;
    /* padding-left: max(1.75vw,4px); */
    /* padding-right: max(1.75vw,4px); */
    font-weight: 500;
    /* font-size: max(1.25vw,10px); */
    font-size: 1.5rem;
}
.active-year{
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}
.members-btn-year:hover{
    background-color: white;
}
.members-members, .alums{
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0vh;
}
.card-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5vw;
    width: max(25vw,150px);
    margin-bottom: 0;
}
.alum-container{
    width: 100%;
    padding: 0 10vw;
}
.alum-btn{
    padding: .2rem 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    background-color: #ECA674;
    color: #050528;
    border-radius: 10px;
}
.alum-btn button {
    background-color: #ECA674;
    border: none;
}
.alum-btn button .MuiSvgIcon-root {
    font-size: 3rem;
}
.members-heads .card-container{
    width: max(10vw, 140px);
}
.members-members  .card-container{
    width: max(20vw, 140px);
}
.alums .card-container {
    width: max(20vw, 140px);
    margin: 0 1rem;
}
.card-image{
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    object-fit: cover;
}
.card-name{
    font-size: max(1.25vw,12px);
    font-weight: 500;
    margin-bottom: 0.4vh;
}
.card-position{
    font-weight: 400;
    font-size: max(0.8vw,9px);
}
.card-contacts{
    display: flex;
    width: 6vw;
    justify-content:space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
.line-container{
    display: flex;
    justify-content: center;
}
.horizontal-line{
    height: 0.75vh;
    margin-top: 0;
    width: 80%;
    background-color: #ffffff50;
}
.card-socials{
    font-size: max(2vw,3vh);
}

.hide {
    display: none;
}
/* .about-footer{
    width: 100%;
} */
@media screen and (max-width:700px) {
    *{
        box-sizing: border-box;
    }
    .about-container{
        width: 100vw;
    }
    .about-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 5vw;
    }
    .intro-title{
        position: relative;
    }
    .intro-para{
        width: 100%;
        padding:2vw;
    }
    .members-secys{
        margin-bottom: 3vh;
    }
    .members-heads{
        margin-bottom: 3vh;
    }
    .alums {
        margin-bottom: 3vh;
    }
    .card-image{
        width: 20vw;
        height: 20vw;
    }
    .card-name{
        margin-bottom: 0;
    }
    .horizontal-line{
        height: 0.4vh;
    }
}
